flows.json
[{"id":"874fd6e9.ef0718","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"cbbe9a8e.3d09b8","type":"ui_form","z":"874fd6e9.ef0718","name":"","label":"","group":"8e9412f0.0359","order":0,"width":0,"height":0,"options":[{"label":"Enter name","value":"Name","type":"text","required":true,"rows":null},{"label":"Enter e-mail","value":"E-mail","type":"email","required":true,"rows":null},{"label":"Enter password","value":"password","type":"password","required":true,"rows":null}],"formValue":{"Name":"","E-mail":"","password":""},"payload":"","submit":"Create","cancel":"Cancel","topic":"","x":140,"y":80,"wires":[["5ee7a2bc.ec1a9c","e6de60e6.3309c"]]},{"id":"5ee7a2bc.ec1a9c","type":"debug","z":"874fd6e9.ef0718","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":330,"y":40,"wires":[]},{"id":"e6de60e6.3309c","type":"function","z":"874fd6e9.ef0718","name":"","func":"msg.payload={\n    _id:msg.payload.email,\n    Name:msg.payload.name,\n    Emailid:msg.payload.email,\n    password:msg.payload.password,\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":120,"wires":[["6987114e.dc657"]]},{"id":"6987114e.dc657","type":"cloudant out","z":"874fd6e9.ef0718","name":"cloudant","cloudant":"","database":"sample","service":"node-red-rttaa-2020--cloudant-1597403822072-18612","payonly":true,"operation":"insert","x":540,"y":120,"wires":[]},{"id":"6e4833b0.564d1c","type":"ui_form","z":"874fd6e9.ef0718","name":"","label":"","group":"3abc1f3.6e499e","order":0,"width":0,"height":0,"options":[{"label":"email","value":"email","type":"email","required":true,"rows":null},{"label":"password","value":"password","type":"password","required":true,"rows":null}],"formValue":{"email":"","password":""},"payload":"","submit":"Login","cancel":"cancel","topic":"","x":50,"y":240,"wires":[["3967ec4d.57eb54"]]},{"id":"3967ec4d.57eb54","type":"function","z":"874fd6e9.ef0718","name":"","func":"global.set('emailid',msg.payload.email);\nglobal.set('password',msg.payload.password);\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":180,"y":280,"wires":[["7d0ac777.401658"]]},{"id":"7d0ac777.401658","type":"function","z":"874fd6e9.ef0718","name":"","func":"var emailid=global.get('emailid');\n\nmsg.payload=\"emailid:\"+emailid;\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":280,"wires":[["9c3c63d4.2a47c"]]},{"id":"9c3c63d4.2a47c","type":"cloudant in","z":"874fd6e9.ef0718","name":"","cloudant":"","database":"sample","service":"node-red-rttaa-2020--cloudant-1597403822072-18612","search":"_idx_","design":"user","index":"user","x":500,"y":280,"wires":[["e4cac1c5.af5c3"]]},{"id":"e4cac1c5.af5c3","type":"function","z":"874fd6e9.ef0718","name":"","func":"if(msg.payload[0].password===global.get('password')){\n    msg.payload='Login Succesfull';\n}\nelse{\n    msg.payload='Login Failed';\n}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":660,"y":280,"wires":[["afcaeb90.9b6dd8"]]},{"id":"afcaeb90.9b6dd8","type":"ui_text","z":"874fd6e9.ef0718","group":"3abc1f3.6e499e","order":1,"width":0,"height":0,"name":"","label":"","format":"{{msg.payload}}","layout":"row-spread","x":790,"y":240,"wires":[]},{"id":"a0d0b279.5595d","type":"ui_form","z":"874fd6e9.ef0718","name":"","label":"","group":"4bd48f02.46889","order":0,"width":0,"height":0,"options":[{"label":"user input","value":"input","type":"text","required":true,"rows":null}],"formValue":{"input":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":80,"y":420,"wires":[["f3cc429a.202aa"]]},{"id":"f3cc429a.202aa","type":"function","z":"874fd6e9.ef0718","name":"","func":"msg.payload = msg.payload.input;\n\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":220,"y":420,"wires":[["908984e0.c5eb48"]]},{"id":"908984e0.c5eb48","type":"watson-conversation-v1","z":"874fd6e9.ef0718","name":"","workspaceid":"27ca68fc-6289-4727-a238-8b32ac4adcda","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/253b17a3-d686-4194-bdd8-69d704da0813","timeout":"","optout-learning":false,"x":380,"y":420,"wires":[["d2a65d9b.bc318","309bf764.d7cd58"]]},{"id":"d2a65d9b.bc318","type":"debug","z":"874fd6e9.ef0718","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":530,"y":420,"wires":[]},{"id":"309bf764.d7cd58","type":"function","z":"874fd6e9.ef0718","name":"","func":"msg.payload = msg.payload.output.generic[0].text\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":550,"y":500,"wires":[["73cf878d.d8e018"]]},{"id":"73cf878d.d8e018","type":"ui_text","z":"874fd6e9.ef0718","group":"4bd48f02.46889","order":1,"width":"6","height":"8","name":"","label":"Bot response","format":"{{msg.payload}}","layout":"row-spread","x":740,"y":500,"wires":[]},{"id":"8e9412f0.0359","type":"ui_group","z":"","name":"Registration form","tab":"a76da534.a1d828","order":1,"disp":true,"width":"6","collapse":false},{"id":"3abc1f3.6e499e","type":"ui_group","z":"","name":"Login","tab":"a1bb5002.9a5b7","order":1,"disp":true,"width":"6","collapse":false},{"id":"4bd48f02.46889","type":"ui_group","z":"","name":"Bot","tab":"824fc761.0aa938","order":1,"disp":true,"width":"6","collapse":false},{"id":"a76da534.a1d828","type":"ui_tab","z":"","name":"Registration page","icon":"dashboard","disabled":false,"hidden":false},{"id":"a1bb5002.9a5b7","type":"ui_tab","z":"","name":"Login page","icon":"dashboard","disabled":false,"hidden":false},{"id":"824fc761.0aa938","type":"ui_tab","z":"","name":"Customer help","icon":"dashboard","disabled":false,"hidden":false}]